
   .hero-section {
    background: url('../../public/HomePage.jpg') no-repeat center center;
    background-size: cover; /* Adjust the image size */
    text-align: center;
    padding: 150px 20px; /* Increased padding */
    height: 320px; /* Set specific height */
    color: white;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    height: 100px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }
  
  /* HomeComponent.css */
  .home-container {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .hero-section {
    background-color: #6D83F2; /* Calming Blue */
    color: white;
    text-align: center;
    padding: 60px 20px;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
  .market-section, .category-section {
    padding: 40px 20px;
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #2C3E50; /* Deep Blue */
  }
  
  .market-list, .category-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .market-item, .category-item {
    flex: 1 0 30%;
    background-color: #8FD3F4; /* Fresh Teal */
    color: #2C3E50; /* Deep Blue */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .market-item:hover, .category-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .market-item h3, .category-item h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .market-item p, .category-item p {
    font-size: 1rem;
    margin: 0;
    color: #2C3E50; /* Deep Blue */
  }
  
