.container-fluid {
  max-width: 100%;
  padding: 0 20px;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #007bff;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 5px;
  box-shadow: none;
  max-width: 100%;
  overflow: auto;
}

select.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  text-overflow: ellipsis;
}

button {
  font-size: 1.2rem;
  padding: 12px;
  width: 100%;
}

button:disabled {
  background-color: #ddd;
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0 10px;
  }

  .form {
    padding: 20px;
  }

  button {
    font-size: 1rem;
    padding: 10px;
  }
}
